# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
W19.QRCodeGen/bin/Debug/W19.QRCodeGen.vshost.exe
W19.QRCodeGen/W19.QRCodeGen.csproj.user
W19.QRCodeGen/bin/Debug/W19.QRCodeGen.vshost.exe.config
W19.QRCodeGen/bin/Debug/W19.QRCodeGen.vshost.exe.manifest
